* {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro Display';
}
.container {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: auto;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4%;
    margin-bottom: 4%;
}

.header-logo {
    height: 36px;
    width: 100px;
}

.input {
    border: 2px solid #D9D9D9;
    border-radius: 3px;
    padding: 7px 10px;
    padding-left: 33px;
    font-size: 16px;
    line-height: 24px;
}

.search-input {
    flex: 0.75;
    background-image: url('/img/house.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-radius: 2px;
    border: 2px solid #D9D9D9;
    background: white;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
    padding: 8px 12px;
    margin-left: 8px;
}

.header-white-person {
    margin-right: 2px;
}

.button-blue {
    border: 2px solid #1890FF;
    color: white;
    background: #1890FF;
}

/* Promo img */

.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url("/img/pizza-img.png") no-repeat top 50px right -130px / 800px;
    border-radius: 10px;
    padding: 58px 70px;
    margin-bottom: 6%;
}

.promo-text {
    max-width: 530px;
    font-size: 24px;
    line-height: 28px;
}

/* All content */

.content {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

/* Content search */

.restauran-title {
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.search-dishes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

.restauran {
    display: flex;
    flex-wrap: wrap;
}

.restauran-title {
    margin-right: 3%;
}

.restauran-other {
    display: flex;
    align-items: center;
}

.restauran-rating-star {
    margin-top: -2px;
    margin-right: 5px;
}

.restauran-rating-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: #FFC107;
    margin-right: 25px;
}

.restauran-text {
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.restauran-point {
    margin-left: 5px;
    font-weight: 800;
    color: #8C8C8C;
}

.restauran-text:last-child {
    margin-left: 5px;
}

.search-dishes-input {
    flex: 0.3;
    background-image: url('/img/search-icon.svg');
    background-repeat: no-repeat;
    background-position: left 10px center;
}

/* Dishes list */

.dishes-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 7%;
}

.dishes-item {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background: white;
    margin-bottom: 30px;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
}

.dishes-img {
    width: 100%;
}

.dishes-item-content {
    padding: 8% 10%;
}

.dishes-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2%;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    color: black;
}

.dishes-product {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: black;
    white-space: pre-line;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 55px;
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 20px;
}

.rating-star {
    margin-right: 5px;
    width: 17px;
    height: 17px;
}

.rating-text {
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    color: #FFC107;
    margin-right: 13%;
}

.dishes-price {
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}

.dishes-price-point {
    font-weight: 900;
    color: #8C8C8C;
    margin-right: 5px;
    margin-left: 5px;
}

.dishes-descrice-buy {
    display: flex;
    align-items: center;
}

.dishes-describe-text {
    width: 80%;
    font-size: 18px;
    line-height: 21px;
    color: #8C8C8C;
    margin-bottom: 5%;
    white-space: pre-line;
}

.dishes-descrice-buy-button {
    border: 2px solid #1890FF;
    color: white;
    background: #1890FF;
    border-radius: 3px;
    padding: 8px 16px;
    margin-right: 50px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.dishes-descrice-price {
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.footer {
    width: 100%;
    height: 163px;
    background-color: white;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 163px;
    margin: auto;
}

.left-content {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 36px;
    width: 100px;
    margin-right: 5%;
}

.foter-text {
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    margin-right: 10px;
    white-space: nowrap;
}

.right-content {
    display: flex;
    align-items: center;
}

.social:not(:last-child) {
    margin-right: 10px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: none;
}

.active {
    display: flex;
}

.modal-dialog {
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
    padding: 40px 45px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.modal-title {
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}

.modal-body {
    margin-bottom: 52px;
}

.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 15px;
}

.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
}

.food-price {
    margin-left: auto;
    margin-right: 40px;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}

.food-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}

.counter {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-left: 13px;
    margin-right: 13px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pricetag {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FAFAFA;
    padding: 15px 20px;
    background-color: black;
    border-radius: 5px;
}

.footer-buttons {
    display: flex;
}

@media (max-width: 1366px) {
    .container {
        max-width: 960px;
    }

    .promo {
        background-position: center right -250px;
        background-size: 700px;
    }

    .restauran-title {
        margin-left: 10px;
    }

    .search-dishes-input {
        margin-right: 10px;
    }

    .footer-content {
        width: 960px;
    }

    .left-content {
        padding-left: 10px;
    }

    .right-content {
        padding-right: 10px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .promo {
        padding: 40px;
    }

    .promo-title {
        font-size: 23px;
    }

    .promo-text {
        font-size: 16px;
        max-width: 320px;
    }

    h2 {
        font-size: 23px;
    }

    .dishes-item {
        flex-basis: 45%;
    }

    .footer-content {
        width: 720px;
    }

    .left-content {
        font-size: 16px;
        padding-left: 10px;
    }

    .right-content {
        padding-right: 10px;
    }
}

@media (max-width: 760px) {
    .header {
        flex-wrap: wrap;
    }

    .search-input {
        flex-basis: 100%;
        order: 1;
        margin-top: 4%;
    }

    .container {
        max-width: 560px;
    }

    .promo {
        background-position: top 40px right -180px;
        background-size: 450px;
    }

    h2 {
        font-size: 19px;
    }

    .dishes-item {
        flex-basis: 48%;
        white-space: nowrap;
    }

    .dishes-other {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .rating-star {
        margin-top: -3px;
    }

    .rating-text {
        margin-right: 65%;
    }

    .footer-content {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 560px;
    }

    .left-content {
        font-size: 16px;
        margin-bottom: 3%;
        padding: 0;
        margin-left: -3%;
    }

    .right-content {
        padding: 0;
    }
}

@media (max-width: 578px) {
    .container {
        max-width: 90%;
    }

    .header-logo {
        margin-bottom: 4%;
    }

    .promo {
        background-image: none;
    }

    .search-dishes {
        flex-wrap: wrap;
    }

    .dishes-list {
        margin: auto;
        justify-content: center;
    }

    .dishes-item {
        flex-basis: 95%;
    }

    h2 {
        white-space: normal;
    }

    .footer-content {
        width: 90%;
    }

    .left-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 4px;
    }
}